__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
*.sqlite3
db.sqlite3
/media
/staticfiles
/static

.env
.env.local
.env.*.local

.vscode/
.idea/
*.iml

venv/
env/
.env/

.cache/
.pytest_cache/

.ipynb_checkpoints

.DS_Store
Thumbs.db
